/**
 * @name ChatOverlay
 * @author yujio
 * @authorLink https://github.com/yujio-sao
 * @version 1.0.0
 * @description Removal of Background and more readeble font for ChatOverlay
 * @source https://github.com/yujio-sao/ChatOverlay/
 * @website https://github.com/yujio-sao
 * @invite grP5SCVeZX
*/

/*Outline of messages in chat*/
.messageContent_f9f2ca{
	color: white;
	text-shadow:
	-1.25px -1.25px 0 #000,
	0.25px -1.25px 0 #000,
	1.25px -1.25px 0 #000,
	1.25px  0.25px 0 #000,
	1.25px  1.25px 0 #000,
	0.25px  1.25px 0 #000,
	-1.25px  1.25px 0 #000,
	-1.25px  0.25px 0 #000;
}

/*Outline of usernames in chat*/
.headerText_f9f2ca, .username_f9f2ca{
	color: gray;
	text-shadow:
	-1.5px -1.5px 0 #000,
	0.5px -1.5px 0 #000,
	1.5px -1.5px 0 #000,
	1.5px  0.5px 0 #000,
	1.5px  1.5px 0 #000,
	0.5px  1.5px 0 #000,
	-1.5px  1.5px 0 #000,
	-1.5px  0.5px 0 #000;
}

/*Removal of unnecunnecessary badges*/
.replyBadge_f9f2ca, .newMemberBadge_ed263a, .divider_d5deea{
	display: none;
}

/*Total removal of background*/
:root {
	--background-primary: rgba(0,0,0,0);
	--background-secondary: rgba(0,0,0,0);
	--background-tertiary: rgba(0,0,0,0);
	--background-secondary-alt: rgba(0,0,0,0);
	--channelbodyarea-background: rgba(0,0,0,0) !important;
	--background-floating: rgba(0,0,0,0) !important;
	--background-mobile-primary: rgba(0,0,0,0);
	--background-mobile-secondary: rgba(0,0,0,0);
	--radio-group-dot-foreground: rgba(0,0,0,0);
	--brand-color: rgba(0,0,0,0);
	--brand-color-hover: rgba(0,0,0,0);
}

/*Enhanced scrollbars*/
.theme-dark ::-webkit-scrollbar-track-piece,
.theme-dark .theme-light ::-webkit-scrollbar-track-piece,
.theme-light .theme-dark ::-webkit-scrollbar-track-piece {
	background:  hsla(0,0%,0%,0.2)!important;
}
.theme-light ::-webkit-scrollbar-track-piece {
	background:  hsla(0,0%,100%,0.2)!important;
	border: none!important;
}
::-webkit-scrollbar-thumb {
	border: none!important;
	border-radius: var(--dplus-radius-ui);
}
::-webkit-scrollbar {
	width: var(--dplus-scrollbar-width) !important;
}
.scroller-2TZvBN::-webkit-scrollbar, .scroller_fea3ef::-webkit-scrollbar {
	width: 2px!important;
}
::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.005)!important;
	border: none!important;
}

